div {
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #efefef;
  box-shadow: inset 0 0 10px #cfc;
  margin: 10px;
}

.header {
  display: flex;
  background-color: #bbb;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}
