<button [routerLink]="['/']" routerLinkActive="router-link-active">Home</button>
<button [routerLink]="['/about-us']" routerLinkActive="router-link-active">About Us</button>
<button [routerLink]="['/contact-us']" routerLinkActive="router-link-active">Contact Us</button>
|
<button [routerLink]="['/todo']" routerLinkActive="router-link-active">My Todos</button>
<button [routerLink]="['/parent']" routerLinkActive="router-link-active">Parent</button>
|
<button [routerLink]="['/auth/login']" routerLinkActive="router-link-active">Login</button>

<div>
  <router-outlet></router-outlet>
</div>
